.comment-wrapper .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.child-reply {
    display: flex;
    justify-content: flex-end;
}

.child-reply form{
    width: 400px;
}

.child-reply br{
    content: " ";
    display: none;
}

.child-reply button{
    margin-top: 10px;
}

.view-more{
    text-align: center;
    border-top: 1px solid #96d1f8;
    background: #65a9d7;
    background: -webkit-gradient(linear,left top,left bottom,from(#3e779d),to(#65a9d7));
    background: -moz-linear-gradient(top,#3e779d,#65a9d7);
    padding: 5px 10px;
    border-radius: 8px;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    font-size: 14px;
    cursor: pointer;
    margin: 0 auto;
    width: 300px;
    display: block;
    padding: 15px;
}

.view-more:hover{
    border-top-color: #28597a;
    background: #28597a;
    color: #ccc!important;
}